/*-------------------------------HEAD-----------------------------------*/
.head{
   margin-top: 10px;
}
.container-fluid{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
    border-radius: 4px;
   height: 100px;

}
.smart{
    margin-top:20px;
}
.nav{
    margin-top:20px;
    margin-left: 20px;
    font-size:20px;
    
}
.nav a{
    color:black;
}

.buttom-head{
    display:inline-block;
    margin-right:40px;
    margin-top:20px;
   
    
  
}
.buttom-head button{
    background-color:#3D5AFE; 
    color:#FFF;
}
.img-avat{
   display: inline-block;
   margin-top:20px
}

/*----------------------------------CONTENT----------------------------------*/
.container{
    margin-top:90px;
}
.overview-list{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
    border-radius: 4px;
   
}
.overview-item {
    display: inline-block;
}

.content{
    
    float: right;
}
.icon{
    display: inline-block;
    text-align: right;
}
.icon img{
    transform: translateY(-40px);
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
    border-radius: 4px;
}
  

p{
   float:right;

}


/*--------------------------------LỊCH SỬ THUÊ-----------------------------------------*/
.icon-item{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
    border-radius: 4px;
}
.icon-item a{
    text-align: center;
}
.table-thead {
    background-color:#d6cdcd;  
    color:#B2B2B2;

}
button{
    background-color:#3D5AFE; 
    color:#fff;
}
/*-------------------------NỘI DUNG TẢI LÊN--------------------------------*/
.content-upload .box-image .container-img-left .img img{
    position: absolute;
    width:25%;
}
.container-img-right .img{
    float :right;
    border-style:none;
}
