
/*-------------------------------HEAD-----------------------------------*/

 .head{
     background: #FFFFFF;
     box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
     border-radius: 4px;
    height: 76.78px;
    width:1366px;
 
 }
 .smart{
     margin-top:20px;
 }
 .nav{
     margin-top:20px;
     margin-left: 20px;
     font-size:20px;
     
 }
 .nav a{
     color:black;
 }
 
 .buttom-head{
     display:inline-block;
     margin-right:40px;
     margin-top:20px; 
 }
 .img-avat{
    display: inline-block;
    margin-top:10px
 }
 .nav-link.active{
     color:#3D5AFE;
 }
 .logo{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 76px;
    font-size:35px;
    
 }
 /*----------------------------------CONTENT----------------------------------*/
 .container-fluid{
    background: #E5E5E5;
    padding-top: 4px;
 }
 .container{
     margin-top:90px;
     z-index: 1;
 }
 .overview-list{
     background: #FFFFFF;
     box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
     border-radius: 4px;
     height:auto;
     width:100%;
 }
 .overview-item {
    
     margin-left: 20px;
 }
 .icon{
     display: inline-block;
     text-align: right;
     padding:10px;
 }
 .icon img{
    transform: translateY(-70px);
    border-radius: 8px;
   
 }
 .icon h4{
    font-size: 40px;
 }
 
 p{
    float:right;
 
 }
 .infor{
     padding:10px;
 }
 /*--------------------------------accout----------------------------------------*/
 
 .avata-box{
     display:inline-block;
 }
 .conten-box{
    display: inline-block;
     text-align: right;
     margin-left: 15px;
 }
 .head-box{
     display:inline-block;
 }
 .drop-box{
    border: 2px solid #3D5AFE; 
    background: #fff;
    border-radius: 10px;
    position:absolute;
    z-index:100;
    padding:20px;
    width:auto;
    margin-left: 20px; 
}
.drop-box::before{
    content: "";
    width: 27px;
    height: 13px;
    background-color: #3D5AFE;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: 0;
    right: 1.8em;
    transform: translateY(-100%);
}
.line{
    margin-top:5px;
    margin-bottom: 5px;
}
 /*--------------------------------LỊCH SỬ THUÊ-----------------------------------------*/
 .icon-item{
     padding:20px;
 }
 .item{
     margin-top:40px;
     padding:20px;
     background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }
 .item h4{
    font-family: 'Montserrat', sans-serif;
 }
 .table-thead {
     background-color:#EEEEEE;
     color:#B2B2B2;
 }
 .table a{
    background: #3D5AFE;
    border-radius: 3px;
     color:#fff;
     width:100px;
     height:30px;
 }
 .showmo{
  margin-left:500px;
 }
 
 /*-------------------------NỘI DUNG TẢI LÊN--------------------------------*/
 .upload-img h4{
    font-family: 'Montserrat', sans-serif;
    margin:20px;
 }
 .upload{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 40px;
 }
 
 .content-upload .box-image .container-img-left .img img{
     position: absolute;
     width:25%;
 }
.icon-img{
    padding-left:10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
 .meals-showcase{
     list-style:  none;
     width: 100%;
 
 }
 .meals-showcase li{
     display: block;
     float: left;
     width: 25%;
 }
 .meals-photo{
     width:100%;
     margin:0;
   
 }
 .meals-photo img{
    
     width:100%;
     height:auto;
    
     
 
 }
 .container-img-left{
     width:100%;
     height:auto;
    
 }
 .img-left img:hover{
     opacity: 1;
     transform:scale(1.03);
    
 }
 .meals-photo img:hover{
     opacity: 1;
     transform:scale(1.03);
 }
 
 /*--------------------------------CONTENT CHÍNH WORK ITS---------------------------------------*/
 .work-it{
     padding-bottom:50px;
 }
 .numberr{
     color:#3D5AFE;
     font-size: 30px;
     display:inline-block;
     border:2px solid #3D5AFE;
     border-radius:50%;
     height:50px;
     width:52px;
     text-align: center;
     margin-right: 45px;
 }
 .caption{
     display:inline-block;
    
    
 }
 h4,p{
     display:block;
    
 }
 
 .row-content{
    z-index: -1;
     background: #fff;
     box-shadow: 0px 0px 16px 9px rgb(0 0 0 / 15%);
 }
 .col1{
     margin-top: 90px;
     padding-left: 30px;
    
 }
 .start-now{
     margin-top: 30px;
     width:130px;
 }
 
 .showmore{
     margin-left: 520px;;
 }


 